<h1>Details of Debtor <%= "\"#{@debtor.name} #{@debtor.group}\""  %></h1>

<style>
  hr {
    border: none; /* Убираем границу */
    background-color: black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
  }
</style>

<table class="table table-striped table-sm">
  <thead>
  <tr>
    <th>Date</th>
    <th>Sum</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
<% @debtor.debts.sort{ |a, b| b.deal_date <=> a.deal_date }.each do |debt| %>
      <tr>
        <td><%= debt.deal_date %></td>
        <td><%= debt.sum %> BYN</td>
        <td><%= debt.description %></td>
        <td>
          <%= link_to 'Paid', [debt.debtor, debt],
                      method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger' %>
          <%= link_to 'Edit', edit_debtor_debt_path(@debtor, debt), :class => 'btn btn-outline-warning' %>
        </td>
      </tr>
<% end %>
  </tbody>
</table>
<hr>
<p>
  <b>Total:</b>
  <b><%= @debtor.debts.inject(0) {|res, debt| res + debt.sum} %> BYN</b>
</p>

<p>
  <%= link_to 'New Debt', new_debtor_debt_path(@debtor), :class => 'btn btn-outline-success' %>
  <%= link_to 'All debts paid', destroy_all_debtor_debts_path(@debtor),
              data: { confirm: 'Are you sure?' }, :class => 'btn btn-outline-danger'%>
</p>
  <%= link_to 'Back', debtors_path, :class => 'btn btn-outline-secondary'%>
