<h1>Create New Debt</h1>

<% if @debt.errors.any? %>
  <h2>
    <%= pluralize(@debt.errors.count, "error") %> prohibited
    this article from being saved:
  </h2>
  <ul>
    <% @debt.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for :debt, url: debts_path do |f| %>
  <p>
    Sum<br>
    <%= f.text_field(:sum, {:class => 'form-control'}) %>
  </p>
  <p>
    Description<br>
    <%= f.text_field(:description, {:class => 'form-control'})%>
  </p>
  <p>
    Date<br>
    <%= f.date_select :deal_date%>
  </p>
  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>
